@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

.container-center-sm {
	margin: auto;
	width: 30%;
}

/* .icon {
	font-size: 125px;
	margin-bottom: 25px;
} */
.icon {
	font-size: 2rem;
}

.number-align {
	text-align: end !important;
}

.text-align {
	text-align: start !important;
}

.center-align {
	text-align: center !important;
	justify-items: center !important;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.warning {
	color: orange;
}

.info {
	color: lightskyblue;
}

.center {
	display: grid;
	justify-content: center;
}

.center-text {
	text-align: center;
}

.no-x {
	overflow-x: hidden;
}

.hand-cursor {
	cursor: pointer;
}

p > code,
pre {
	color: rgb(41, 40, 40);
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 0.94em;
	border-radius: 3px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: 0.4rem;
}

p > code {
	padding: 0.2rem;
}

*:disabled {
	cursor: not-allowed;
}
