@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

.container-center-sm {
	margin: auto;
	width: 30%;
}

.icon {
	font-size: 2rem;
}

.number-align {
	text-align: end !important;
}

.text-align {
	text-align: start !important;
}

.center-align {
	text-align: center !important;
	justify-items: center !important;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.warning {
	color: orange;
}

.info {
	color: lightskyblue;
}

.center {
	display: grid;
	justify-content: center;
}

.center-text {
	text-align: center;
}

.no-x {
	overflow-x: hidden;
}

.hand-cursor {
	cursor: pointer;
}

p > code,
pre {
	color: rgb(41, 40, 40);
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 0.94em;
	border-radius: 3px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	padding: 0.4rem;
}

p > code {
	padding: 0.2rem;
}

*:disabled {
	cursor: not-allowed;
}

.p-submenu-list {
	/* It's over 1000! */
	z-index: 10001 !important;
}

#img-spae {
	width: 300px;
	opacity: 0;
}
#img-spae:hover {
	animation: 3s forwards fadein;
}

div#preview-html > table > thead > tr > th {
	vertical-align: top;
	background-color: rgba(157, 229, 251, 0.2);
	padding: 4px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-image: initial;
}
div#preview-html > table > tbody > tr > td {
	vertical-align: top;
	padding: 4px 10px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(187, 187, 187);
	border-image: initial;
}

details > summary:first-of-type {
	list-style-type: none;
}

::-webkit-details-marker {
	display: none;
}

summary {
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

details > summary .details-marker:before {
	content: '\25BA';
	font-size: 20px;
}

details[open] > summary .details-marker:before {
	content: '\25BC';
	font-size: 16px;
}

details > *:not(summary) {
	padding-left: 1.25em;
}

.p-submenu-list,
.p-menuitem {
	z-index: 9999 !important;
}

.p-menuitem-text {
	font-size: 15px;
}

.p-submenu-list {
	min-width: 15rem;
}

.p-toast-detail {
	word-break: break-word;
}

.table td.edgar-code,
.table th.edgar-code {
	font-family: IosevkaSlabWEB, Consolas, 'Lucida Console', Monaco, monospace;
	/*IosevkaSlabWEB*/
	padding: 1px;
	border: 1px solid gray;
	white-space: pre;
}

p.edgar-code {
	font-family: 'Lucida Console', Monaco, monospace;
	border: 1px solid #eceeef;
}

.table td.edgar-code-header {
	cursor: pointer;
	white-space: pre;
	font-weight: bold;
	font-size: 1.1em;
}
