@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

.container-center-sm {
	margin: auto;
	width: 30%;
}

.icon {
	font-size: 125px;
	margin-bottom: 25px;
}

.center {
	display: grid;
	justify-content: center;
}

.center-text {
	text-align: center;
}
